@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --theme-color-rose-800: #7A284E;
    --theme-color-rose-50: #FFF7FB;
    --theme-color-stone-900: #312E2C;
    --theme-color-stone-600: #5F564D;
    --theme-color-stone-150: #E3DDD7;
    --theme-color-stone-100: #F3E5D7;
    --theme-color-brown-800: #854632;
    --theme-color-white: #fff;

    --theme-font-1: 400 40px/100% 'Young Serif';
    --theme-font-2: 400 28px/100% 'Young Serif';
    --theme-font-3: 500 20px/100% 'Outfit';
    --theme-font-4: 400 16px/150% 'Outfit';
    --theme-font-4-bold: 500 16px/150% 'Outfit';
}

body {
    background-color: var(--theme-color-stone-100);
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 128px 48px;
}

.card {
    background-color: var(--theme-color-white);
    max-width: 736px;
    padding: 40px;

    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-image {
    width: 100%;
    border-radius: 12px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
        font: var(--theme-font-1);
        color: var(--theme-color-stone-900);
    }

    p {
        font: var(--theme-font-4);
        color: var(--theme-color-stone-600);
    }
}

.preparation {
    background-color: var(--theme-color-rose-50);
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    h4 {
        color: var(--theme-color-rose-800);
        font: var(--theme-font-3);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    li {
        /* padding-left: 20px; */
        padding-left: 40px;
        position: relative;
        font: var(--theme-font-4);
        b {
            font: var(--theme-font-4-bold);
        }
    }

    li::before {
        content:"\2219";
        font-size: 2.0em;
        line-height: 0;
        position: absolute;
        color: var(--theme-color-rose-800);
        top:.28em;
        left: 3px; /* Boundry is -5px we need 8xp from padding border */
    }
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        font: var(--theme-font-2);
        color: var(--theme-color-brown-800);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    li::before {
        content:"\2219";
        font-size: 2.0em;
        line-height: 0;
        position: absolute;
        color: var(--theme-color-rose-800);
        top:.28em;
        left: 3px; /* Boundry is -5px we need 8xp from padding border */
    }

    li {
        /* padding-left: 20px; */
        padding-left: 40px;
        position: relative;
        font: var(--theme-font-4);
        color: var(--theme-color-stone-600);
    }
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        font: var(--theme-font-2);
        color: var(--theme-color-brown-800);
    }

    ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        counter-reset: item;
    }

    li::before {
        content: counter(item) '.';
        font: var(--theme-font-4-bold);
        line-height: 0;
        position: absolute;
        color: var(--theme-color-rose-800);
        top:.8em;
        left: 6px; /* Boundry is -5px we need 8xp from padding border */
    }

    li {
        counter-increment: item;
        /* padding-left: 20px; */
        padding-left: 40px;
        position: relative;
        font: var(--theme-font-4);
        color: var(--theme-color-stone-600);
    }
}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        font: var(--theme-font-2);
        color: var(--theme-color-brown-800);
    }

    p {
        font: var(--theme-font-4);
        color: var(--theme-color-stone-600);
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        
    }

    td {
        padding: 11px 0;
    }

    tr:last-child {
        td {
            padding-bottom: 0;
        }
        border-bottom: none;
    }

    tr:first-child {
        td {
            padding-top: 0;
        }
        border-top: none;
    }

    tr {
        td:first-child {
            padding-left: 32px;
            font: var(--theme-font-4);
        }
        td:last-child {
            font: var(--theme-font-4-bold);
            color: var(--theme-color-brown-800);
        }
        border-top: 1px solid var(--theme-color-stone-150);
        border-bottom: 1px solid var(--theme-color-stone-150);
    }
}

hr {
    border-top: 1px solid var(--theme-color-stone-150);
}

b {
    font: var(--theme-font-4-bold)
}